*{
    margin:0;
    padding: 0;
    background-color: aquamarine;
}
.container{
display: flex;
background-color: aquamarine;
color: black;

    }
.first{
    flex: 1;
    font-size: 30px;
    color:black;
    padding-top:  100px; 
    padding-left: 100px;
     width: 400px;
 
}
.second{
    flex: 1;
    font-size: 18px;
    color:black;
    padding: 140px 0px 0px 120px; 
     width: 30px;
} 
.img{
    width:400px;
    
    
    
    }
.photo{
    text-align: center;
}



